//variables para colores de login

//*****************************COLORES************************
//COLORES DE FONDO:
$color_body:#5d84bf;
$color_cuadro_login:#f5f5f4a9;
$color_sombra_login:rgb(37, 36, 36);
$color_boton_login:#013777;
$borde_cuadro_login:#ffffff;
$color_fondo_cabecera_registro:#3ac780;
$color_boton_save_registro:rgb(2, 77, 14);
$color_boton_close_registro:rgb(1, 17, 3);

//COLORES DE TEXTO Y BORDE:
$color_titulo:rgb(78, 19, 19);
$color_boton:white ;
$color_label:#98564d ;
$color_borde_input:white;

//*****************************TIPOGRAFIAS************************
$tipografia_01: PekKomikSans;
$tipografia_02: Persippiny;
$tipografia_03: CasuaBold;
$tipografia_04: CaviarDreams;
$tipografia_04_bold: CaviarDreams_Bold;

