//variables para colores de login

//*****************************COLORES************************
//COLORES DE FONDO:
$color_body:#5d84bf;
$color_cuadro_login:rgba(20, 176, 224, 0.692);
$color_sombra_login:rgb(37, 36, 36);
$color_boton_login:#FFC703;
$borde_cuadro_login:#ffffff;
$color_fondo_cabecera_registro:#3ac780;
$color_boton_save_registro:rgb(2, 77, 14);
$color_boton_close_registro:rgb(1, 17, 3);

//COLORES DE TEXTO Y BORDE:
$color_titulo:#013978;
$color_boton:#013978 ;
$color_label:#013978 ;
$color_borde_input:white;

//*****************************TIPOGRAFIAS************************
$tipografia_01: PekKomikSans;
$tipografia_02: Persippiny;
$tipografia_03: CasuaBold;
$tipografia_04: CaviarDreams;
$tipografia_04_bold: CaviarDreams_Bold;

